.contenedor {
	display: flex;
	width: 80%;
	background-color: #BBB;
}
.elemento {
	background-color: #555;
	width: 100px;
	height: 100px;
	margin: 10px;
	color:aliceblue;
	font-weight: bolder;
	text-align: center;
	line-height: 100px;
}
.elemento:hover {
	background-color: #777;
}
